.invite-button {
  border: none;
  background-color: #2d7d46;
  color: white;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  text-align: center;
  margin-left: 18%;
  margin-right: 18%;
}

.invite-button:hover {
  background-color: #215b32;
}

.invite-button:active {
  background-color: #1e532e;
}

a {
  text-decoration: none;
}
