.Gallery {
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}