.InviteCard {
  background-color: #2F3136;
  color: white;
  /* height: 100px; */
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px #000000;
}

.InviteCard-text {
  text-align: left;
  margin: 0px 15px 0px 15px;
  flex: 1 1 auto;
  min-width: 0px;
  min-height: 0px;
}

h2 {
  border: 1px solid red;
  display: block;
  font-size: 18px;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: clip;
}
/* #someDiv {
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    /* overflow: hidden;  /* prevents extra lines from being visible */
/* } */

.InviteCard-text p {
  color: #aaaaaa;
  font-size: 12px;
  margin: 0px;
}

.invite-button {
  border: none;
  background-color: #2D7D46;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.invite-button:hover {
  background-color: #215B32;
}

.invite-button:active {
  background-color: #1E532E;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 25%;
  border: 5px solid red;
}