.InviteCard {
  background-color: #282c34;
  color: white;
  /* height: 100px; */
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px #000000;
}

.InviteCard-text {
  text-align: left;
  margin: 0px 10px 0px 10px;
}

.InviteCard-text h2 {
  display: inline-block;
  font-size: 18px;
  margin: 0px;
  text-overflow: ellipsis;
  width: 120px;
  white-space: nowrap;
  overflow: clip;
}

.InviteCard-text p {
  color: #aaaaaa;
  font-size: 12px;
  margin: 0px;
}

.InviteCard-button {
  border: none;
  background-color: #32cd32;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}