.InviteCard {
  text-align: center;
  background-color: #282c34;
  /* height: 100px; */
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px #000000;
}

.InviteCard-text {
  text-align: left;
  margin: 0px 10px 0px 10px;
  color: white;
}

.InviteCard-text h2 {
  font-size: 20px;
  margin: 0px;
  overflow: hidden;
}

.InviteCard-text p {
  color: #aaaaaa;
  font-size: 12px;
  margin: 0px;
}

.InviteCard-button {
  border: none;
  background-color: #32cd32;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}