.InviteCard {
  background-color: #2f3136;
  color: white;
  text-align: center;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px #000000;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info > :first-child,
.info > :last-child {
  flex-grow: 1;
  flex-basis: 0;
}

h2 {
  display: block;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: clip;
  width: 100%;
}
/* #someDiv {
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
/* overflow: hidden;  /* prevents extra lines from being visible */
/* } */


.members p {
  color: #cccccc;
  font-size: 12px;
  margin: 0px;
  text-align: center;
}

#count {
  font-size: 20px;
}

.invite-button {
  border: none;
  background-color: #2d7d46;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.invite-button:hover {
  background-color: #215b32;
}

.invite-button:active {
  background-color: #1e532e;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 30%;
}

.desc {
  color: #cccccc;
  padding: 0px 20px 0px 20px;
  margin-bottom: 0px;
  text-align: left;
}
